---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("blog", slug);
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>

    <div class="meta">
      {post.data.date.toLocaleDateString()}
    </div>

    <Content />
  </article>
</BaseLayout>
