---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
  <ul class="post-list">
    {posts.map((post) => (
      <li>
        <h2>
          <a href={`/fishing/blog/${post.slug}/`}>
            {post.data.title}
          </a>
        </h2>

        <div class="meta">
          {post.data.date.toLocaleDateString()}
        </div>

        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
</BaseLayout>
