---
const { title = "Fishing Blog" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <link rel="stylesheet" href="/fishing/global.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <a href="/fishing/">Fishing Blog</a>
        </h1>
      </header>

      <slot />

      <footer>
        © {new Date().getFullYear()} Fishing Blog
      </footer>
    </div>
  </body>
</html>
